@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}


body {
  margin: 0;
  display: flex;
  height: 100vh;
  position: relative;
}


#left-side, #right-side {
  width: 50%;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
}

#left-side {
  left: 0;
}

#right-side {
  right: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 150px; 
}

.pokedex {
  width: 100%;
  max-width: 346px;
  position: absolute; 
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; 
}

.pokemon_image {
  width: auto;
  bottom: -25%;
  height: 18%; 
  position: relative; 
  margin-bottom: 20px; 
  z-index: 2;
  height: 18%;
}

.pokemon_data {
  position: relative;
  font-weight: 600;
  color: #35ddf4;
  font-size: calc(8px + 1vw);
  text-align: center;
  margin-bottom: 20px; 
  bottom: -140px;
  z-index: 2; 
}

.pokemon_nome{
  color: #000000;
  text-transform: capitalize;
  font-size: 20px;
}

.pokemon_numero{
  text-transform: capitalize;
  font-size: 25px;
}

.pokemon_info {
  bottom: -25%;
  z-index: 2;
  position: relative;
}



.form {
  width: 100%;
  max-width: 400px;
  position: relative;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  top: 27%;
  z-index: 2; 
}

.buttons {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 65%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: 2; 
}


.buscarpokemon {
  width: 50%;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: 600;
  color: #3a444d;
  font-size: calc(1px + 1vw);
}


.button{
  width: 100px;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: calc(8px + 1vw); /* Corrigido */
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;

}

.button:active{
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}

.error {
  border: 2px solid red;
}